<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjitc.dao.UserDao">

  <select id="login" resultType="com.zjitc.model.User">
    SELECT *
    FROM user
    WHERE username = #{username} and password=#{password}
  </select>

  <select id="findByUid" resultType="com.zjitc.model.User">
    select * from user where uid=#{uid};
  </select>

  <insert id="register" parameterType="com.zjitc.model.User">
    INSERT INTO user
    <trim prefix="(" suffix=")">
      <if test="#{username} != null">username,</if>
      <if test="#{password}!= null">password,</if>
      <if test="#{email}!= null">email,</if>
      <if test="#{phone}!= null">phone,</if>
      <if test="#{addr} != null">addr</if>
    </trim>
    VALUE
    <trim prefix="(" suffix=")">
      <if test="#{username} != null">#{username},</if>
      <if test="#{password} != null">#{password},</if>
      <if test="#{email} != null">#{email},</if>
      <if test="#{phone}!= null">#{phone},</if>
      <if test="#{addr}!= null">#{addr}</if>
    </trim>
  </insert>
</mapper>